@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap");

:root {
  --primary: rgba(254, 44, 85, 1);
  --secondary: rgba(22, 24, 35, 1);

  // DefaultLayout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;

  // Font-size
  --default-font-size: 1.6rem;

  // Color
  --black: #000;
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
